$blueDark: #22283a;
$blue: #282f44;
$purpleDark: #4a00b7;
$purple: #ae21ff;
$input: #2b334a;
$purppleLigth: #7a33ff;
$white: #ffffff;

$title: 50px;
$subTitle: 40px;
$textMain: 30px;
$text: 22px;
$textSmall: 20px;
$radius: 4px;
