@use "../../../scss/variables" as *;
.button {
  font-size: $text;
  padding: 8px 16px;
  background: $purple;
  border-radius: $radius;
  text-align: center;
  color: $white;
  &:hover{
    background: $purpleDark;
  }
}
