@use "/scss/variables" as *;
@use "/scss/mixins" as *;
.containerTarget {
  @include content;
  @include flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 10px 0;
}
.containerSubtitle {
  width: 100%;
  @include flex;
  gap: 20px;
  margin: 15px 0;
}
.containerCard {
  @include content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.containerTitleModal {
  @include flex;
  flex-direction: column;
  width: 312px;
  border-radius: 4px;
  background-color: $purpleDark;
}
.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
}
