@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;
.container {
  width: 100%;
  @include flex;
  flex-direction: column;
  background-color: $purpleDark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.content {
  display: flex;
  justify-content: space-between;
  @include content;
  align-items: center;
  padding: 8px 0;
}
.nav {
  @include flex;
  gap: 24px;
  color: $white;
  font-size: $textSmall;
}
.title {
  font-size: $subTitle;
  color: $white;
}
