@use "/src/scss/variables" as *;
@use "src//scss/mixins" as *;
.container {
  width: 100%;
  @include flex;
  flex-direction: column;
  background-color: $purpleDark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
}
.content {
  display: flex;
  justify-content: space-between;
  @include content;
  align-items: center;
  padding: 8px 0;
}
.nav {
  @include flex;
  gap: 24px;
  font-size: $textSmall;
  background: $purpleDark;
  transition: all ease-out 150ms;
  @media screen and (max-width: 1024px) {
    position: absolute;
    right: 0;
    top: 90px;
    width: 50%;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
  button {
    color: $white;
  }
}
.title {
  font-size: $subTitle;
  color: $white;
}
.checkBox {
  display: none;
  &:checked ~ .nav {
    padding: 20px 0;
    height: initial;
  }
}
.menu {
  display: none;
  @media screen and (max-width: 1024px) {
    display: initial;
  }
}
