@use "/src/scss/variables" as *;
@use "/src/scss/mixins" as *;

.containerModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $blueDark;
  outline: none;
  border-radius: $radius;
}
.containerTitleModal {
  @include flex;
  flex-direction: column;
  width: 312px;
  border-radius: $radius;
  background-color: $purpleDark;
}
.containerInput {
  @include flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  padding: 20px 0;
  p {
    font-size: $text;
    color: $purple;
    text-align: center;
  }
}
